<a href="https://colab.research.google.com/github/athiramolps/athiramolps/blob/main/PART_1_IMPORTING_LIBRARIES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **IMPORTING LIBRARIES**

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sp
import plotly.express as px

# **LOADING DATASET**

In [10]:
data1=pd.read_csv('/content/sample_data/GITHHUB/dataset1.csv')
data2=pd.read_csv('/content/sample_data/GITHHUB/dataset2.csv')

In [11]:
data1

,HOTEL NAME,YEAR OF SALES,OWNER,HOTEL LOCATION,LATTITUDE,LONGITUDE,SPECIALITY FOCUSES,SEASON FOCUSES,TOURISTS,REVIEW,PRICE PER DAY FOR EACH ADULT,VISITORS PER MONH,MONTHLY SALES,VISITORS ANNUALLY,ANNUAL SALES,HOTEL WILL GET AFTER TAX,TAX TO GOVERNMENT
0,LOWRY HOTEL,2021,ROSE KELLER,HULL,53.767750,-0.335827,MARRIAGE,SUMMER,INDIA,5.5,30,2600,78000,31200,936000,4680000,-3744000
1,GORING HOTEL,2021,MATHEW,MANCHESTER,53.483959,-2.244644,BIRTHDAY,WINTER,ROME,6.0,20,2845,56900,34140,682800,3414000,-2731200
2,HOTEL RUSSELL,2021,JOY,DERBY,52.916668,-1.466667,DINING,SUMMER,QATAR,7.0,40,1610,64400,19320,772800,3864000,-3091200
3,CARLTON HOTEL,2021,ROSHAN,LEICESTER,52.633331,-1.133333,KITTY PARTY,SUMMER,IRAN,10.0,50,494,24700,5928,296400,1482000,-1185600
4,BLUE MOUNT,2021,ALEXANDER,GLASGOW,55.860916,-4.251433,RECEPTION,WINTER,PAKISTAN,5.0,67,549,36783,6588,441396,2206980,-1765584
5,FEATHERS HOTEL,2021,CHRISTOPHER,NEWCASTLE,54.966667,-1.600000,ENGAGEMENT,AUTUMN,GERMANY,8.0,83,296,24568,3552,294816,1474080,-1179264
6,EDEN HOTEL,2021,ANGELINA,DURHAM,54.776100,-1.573300,FAMILY GET TOGETHER,AUTUMN,DUBAI,8.0,96,671,64416,8052,772992,3864960,-3091968
7,CAPITAL HOTEL,2021,FERNANDES,LIVERPOOL,53.400002,-2.983333,GUEST ACCOMODATION ONLY,WINTER,AUSTRALIA,10.0,88,641,56408,7692,676896,3384480,-2707584
8,ROYAL HOTEL,2021,GEORGE,PERTH,56.396999,-3.437000,BIRTHDAY,AUTUMN,UNITED STATES,9.0,90,628,56520,7536,678240,3391200,-2712960
9,PALACE HOTEL,2021,WILLSON,BATH,51.380001,-2.360000,GUEST ACCOMODATION ONLY,SUMMER,EGYPT,10.0,26,3423,88998,41076,1067976,5339880,-4271904
10,THE BULL HOTEL,2021,RAYAN,COVENTRY,52.408054,-1.510556,MARRIAGE,SUMMER,SRILANKA,6.7,78,869,67782,10428,813384,4066920,-3253536
11,CARBIS BAY HOTEL,2021,JOYEL,CARDIFF,51.481583,-3.179090,DINING,WINTER,BELGIUM,8.8,69,515,35535,6180,426420,2132100,-1705680
12,HOWTOWN HOTEL,2021,LAWN,LONDON,51.509865,-0.118092,FAMILY GET TOGETHER,AUTUMN,ITALY,9.9,45,1948,87660,23376,1051920,5259600,-4207680
13,THE BARN HOTEL,2021,GLEN THOMAS,SALFORD,53.483002,-2.293100,RECEPTION,WINTER,NEWZELAND,5.0,74,738,54612,8856,655344,3276720,-2621376
14,CORBYN HEAD HOTEL,2021,JAMES,SUNDERLAND,54.906101,-1.381130,BIRTHDAY,SUMMER,CANADA,10.0,23,2524,58052,30288,696624,3483120,-2786496
15,HAVEN HOTEL,2021,OLIVER,TRURO,50.259998,-5.051000,MARRIAGE,WINTER,NETHERLAND,7.0,90,860,77400,10320,928800,4644000,-3715200
16,BEDFORD HOTEL,2021,STEPHEN,CAMBRIDGE,52.205276,0.119167,ENGAGEMENT,AUTUMN,SWITZERLAND,9.0,68,1342,91256,16104,1095072,5475360,-4380288
17,STONE HOUSE HOTEL,2021,PHILIP,OXFORD,51.752022,-1.257677,KITTY PARTY,WINTER,BANGLADESH,5.0,56,1702,95312,20424,1143744,5718720,-4574976
18,CLAREMONT HOTEL,2021,ANDREWS,BRISTOL,51.454514,-2.587910,DINING,SUMMER,KUWAIT,8.0,84,764,64176,9168,770112,3850560,-3080448

In [12]:
data2

    TAX TO GOVERNMENT  HOTEL BUILT YEAR
0            -3744000              1900
1            -2731200              2000
2            -3091200              1893
3            -1185600              1992
4            -1765584              2001
5            -1179264              1800
6            -3091968              2008
7            -2707584              1825
8            -2712960              2017
9            -4271904              2019
10           -3253536              2007
11           -1705680              2002
12           -4207680              1899
13           -2621376              1850
14           -2786496              1923
15           -3715200              1995
16           -4380288              2009
17           -4574976              2010
18           -3080448              2015

# **COMBINING DATASET**

In [13]:
pd.merge(data1,data2,how='left')

,HOTEL NAME,YEAR OF SALES,OWNER,HOTEL LOCATION,LATTITUDE,LONGITUDE,SPECIALITY FOCUSES,SEASON FOCUSES,TOURISTS,REVIEW,PRICE PER DAY FOR EACH ADULT,VISITORS PER MONH,MONTHLY SALES,VISITORS ANNUALLY,ANNUAL SALES,HOTEL WILL GET AFTER TAX,TAX TO GOVERNMENT,HOTEL BUILT YEAR
0,LOWRY HOTEL,2021,ROSE KELLER,HULL,53.767750,-0.335827,MARRIAGE,SUMMER,INDIA,5.5,30,2600,78000,31200,936000,4680000,-3744000,1900
1,GORING HOTEL,2021,MATHEW,MANCHESTER,53.483959,-2.244644,BIRTHDAY,WINTER,ROME,6.0,20,2845,56900,34140,682800,3414000,-2731200,2000
2,HOTEL RUSSELL,2021,JOY,DERBY,52.916668,-1.466667,DINING,SUMMER,QATAR,7.0,40,1610,64400,19320,772800,3864000,-3091200,1893
3,CARLTON HOTEL,2021,ROSHAN,LEICESTER,52.633331,-1.133333,KITTY PARTY,SUMMER,IRAN,10.0,50,494,24700,5928,296400,1482000,-1185600,1992
4,BLUE MOUNT,2021,ALEXANDER,GLASGOW,55.860916,-4.251433,RECEPTION,WINTER,PAKISTAN,5.0,67,549,36783,6588,441396,2206980,-1765584,2001
5,FEATHERS HOTEL,2021,CHRISTOPHER,NEWCASTLE,54.966667,-1.600000,ENGAGEMENT,AUTUMN,GERMANY,8.0,83,296,24568,3552,294816,1474080,-1179264,1800
6,EDEN HOTEL,2021,ANGELINA,DURHAM,54.776100,-1.573300,FAMILY GET TOGETHER,AUTUMN,DUBAI,8.0,96,671,64416,8052,772992,3864960,-3091968,2008
7,CAPITAL HOTEL,2021,FERNANDES,LIVERPOOL,53.400002,-2.983333,GUEST ACCOMODATION ONLY,WINTER,AUSTRALIA,10.0,88,641,56408,7692,676896,3384480,-2707584,1825
8,ROYAL HOTEL,2021,GEORGE,PERTH,56.396999,-3.437000,BIRTHDAY,AUTUMN,UNITED STATES,9.0,90,628,56520,7536,678240,3391200,-2712960,2017
9,PALACE HOTEL,2021,WILLSON,BATH,51.380001,-2.360000,GUEST ACCOMODATION ONLY,SUMMER,EGYPT,10.0,26,3423,88998,41076,1067976,5339880,-4271904,2019
10,THE BULL HOTEL,2021,RAYAN,COVENTRY,52.408054,-1.510556,MARRIAGE,SUMMER,SRILANKA,6.7,78,869,67782,10428,813384,4066920,-3253536,2007
11,CARBIS BAY HOTEL,2021,JOYEL,CARDIFF,51.481583,-3.179090,DINING,WINTER,BELGIUM,8.8,69,515,35535,6180,426420,2132100,-1705680,2002
12,HOWTOWN HOTEL,2021,LAWN,LONDON,51.509865,-0.118092,FAMILY GET TOGETHER,AUTUMN,ITALY,9.9,45,1948,87660,23376,1051920,5259600,-4207680,1899
13,THE BARN HOTEL,2021,GLEN THOMAS,SALFORD,53.483002,-2.293100,RECEPTION,WINTER,NEWZELAND,5.0,74,738,54612,8856,655344,3276720,-2621376,1850
14,CORBYN HEAD HOTEL,2021,JAMES,SUNDERLAND,54.906101,-1.381130,BIRTHDAY,SUMMER,CANADA,10.0,23,2524,58052,30288,696624,3483120,-2786496,1923
15,HAVEN HOTEL,2021,OLIVER,TRURO,50.259998,-5.051000,MARRIAGE,WINTER,NETHERLAND,7.0,90,860,77400,10320,928800,4644000,-3715200,1995
16,BEDFORD HOTEL,2021,STEPHEN,CAMBRIDGE,52.205276,0.119167,ENGAGEMENT,AUTUMN,SWITZERLAND,9.0,68,1342,91256,16104,1095072,5475360,-4380288,2009
17,STONE HOUSE HOTEL,2021,PHILIP,OXFORD,51.752022,-1.257677,KITTY PARTY,WINTER,BANGLADESH,5.0,56,1702,95312,20424,1143744,5718720,-4574976,2010
18,CLAREMONT HOTEL,2021,ANDREWS,BRISTOL,51.454514,-2.587910,DINING,SUMMER,KUWAIT,8.0,84,764,64176,9168,770112,3850560,-3080448,2015